.left{
display: flex;
align-items: center;
justify-content: center;
width: 55%;
height: auto;
padding: 10px;
}
.rigth{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: auto;
    padding: 10px;
}
.photo{
    width: 350px;
}
.miniGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 0 100px 0;
}
.cutaway{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(102, 180, 238);
}
.imgProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.perfume{
    width: 50px;
}
.textProduct{
    width: 70%;
    text-align: center;
}
.gag{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}
